# Banco Raio-x
DB_HOST=db
DB_USER=root
DB_PASSWORD=123456
DB_DATABASE=bdraiox
DB_PORT=3306

# Banco de pacientes
PACIENTES_DB_HOST=db
PACIENTES_DB_USER=root
PACIENTES_DB_PASSWORD=123456
PACIENTES_DB_DATABASE=corpore
PACIENTES_DB_PORT=3306