# Conexão com banco do raiox para salvar os registros
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

# Conexão com banco interno do hospital para buscar os dados dos pacientes através do prontuário
PACIENTES_DB_HOST=
PACIENTES_DB_USER=
PACIENTES_DB_PASSWORD=
PACIENTES_DB_DATABASE=
PACIENTES_DB_PORT=
