/* Cabeçalho da aba Relatórios */
.CmpDataRelatorio {
  width: 100px;
  height: 27px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpExameRelatorio {
  width: 100px;
  height: 27px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpSexoRelatorio {
  width: 60px;
  height: 27px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpOrigemRelatorio {
  width: 100px;
  height: 27px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpIdade {
  width: 100px;
  height: 27px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}