.LinhaRegistro {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap; /* quebra em telas menores */
  gap: 16px;
  align-items: flex-end;
  padding: 10px;
}

.LinhaRegistro > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1 120px; /* flexível, mínimo de 120px */
  min-width: 120px;
}

.LinhaRegistro .linha1 {
  margin-bottom: -8px;
}

.LinhaRegistro span {
  margin-right: 10px;
}

/* Se quiser alinhar os textos das spans da mesma linha */
.LinhaRegistro span.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BotaoRegistrar{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #4c6ef5;
    border-radius: 15px;
    border: none;
    padding: 2px 15px;
    margin-top: 5px;
    width: 120px;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .BotaoRegistrar:hover{
    background-color: #293c88;
  }

  .BotaoLimpar{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #f54c4c;
    border-radius: 15px;
    border: none;
    padding: 2px 15px;
    margin-top: 5px;
    margin-right: 5px;
    width: 120px;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .BotaoLimpar:hover{
    background-color: #882929;
  }