input {
  height: 25px;
}

select {
  height: 30px;
}

.CmpProntuario {
  width: 90px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 5px;
}

.CmpNome {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpSexo {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpData {
  width: 100%;
  height: 27px;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpDataHistorico {
  width: 100px;
  height: 27px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpExame {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpInci {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpOrigem {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpReexp {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpMotivo {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpHora {
  width: 100%;
  height: 27px;
  border-radius: 5px;
  border: 1px solid grey;
}

.CmpTecnico {
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.BotaoDireita {
  display: flex;
  justify-content: flex-end;
}

.BotaoBuscar {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #4c6ef5;
  border-radius: 15px;
  border: none;
  padding: 5px 15px;
  margin: 5px 5px 5px 0px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BotaoBuscar:hover {
  background-color: #293c88;
}

.BotaoExportar {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #4c6ef5;
  border-radius: 15px;
  border: none;
  padding: 5px 15px;
  margin: 5px 5px 5px 0px;
  height: 30px;
  transition: background-color 0.3s ease;
}

.BotaoExportar:hover {
  cursor: pointer;
  background-color: #293c88;
}

.BotaoExportar:disabled {
  color: #e7e7e7;
  cursor: auto;
  background-color: #7d7d7e;
}
