/*Tabela da aba Relatório*/
.TabelaRelatorio td:nth-child(1) {
    width: 200px;
  }
  
  .TabelaRelatorio td:nth-child(2) {
    width: 30px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(3) {
    width: 100px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(4) {
    width: 60px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(5) {
    width: 75px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(6) {
    width: 20px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(7) {
    width: 90px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(8) {
    width: 40px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(9) {
    width: 190px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(10) {
    width: 100px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(11) {
    width: 70px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(12) {
    width: 70px;
    text-align: center;
  }
  
  .TabelaRelatorio td:nth-child(13) {
    width: 115px;
    text-align: center;
  }