/*Tabela da aba registro*/
.TabelaRegistro td:nth-child(1) {
    width: 210px;
  }
  
  .TabelaRegistro td:nth-child(2) {
    width: 40px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(3) {
    width: 100px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(4) {
    width: 75px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(5) {
    width: 30px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(6) {
    width: 90px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(7) {
    width: 40px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(8) {
    width: 160px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(9) {
    width: 100px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(10) {
    width: 70px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(11) {
    width: 70px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(12) {
    width: 115px;
    text-align: center;
  }
  
  .TabelaRegistro td:nth-child(13) {
    width: 30px;
    text-align: center;
  }
  