body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(to bottom, #B0BAE3, #767E9D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-container {
  display: flex;
}

.FramePrincipal {
  background: #FFFFFF;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px 20px 20px 20px;

}

.FrameRelatorio{
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}


