@import 'components/tabela.css';
@import 'components/tabelaRegistro.css';
@import 'components/tabelaRelatorio.css';
@import 'components/formulario.css';
@import 'components/navbar.css';
@import 'components/tabelaHistorico.css';
@import 'components/formularioRegistro.css';
@import 'components/formularioRelatorio.css';
@import 'components/cabecalhoRegistro.css';
@import 'components/cabecalhoHistorico.css';
@import 'components/cabecalhoRelatorio.css';

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: #B0BAE3;
  background-repeat: no-repeat;
  height: auto;
}

.app-container {
  display: flex;
}

.FramePrincipal {
  background: #FFFFFF;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px 20px 20px 20px;
  min-height: 100vh;
}

.FrameRelatorio {
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #767e9db9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #357ab8;
}